<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns="http://xmlns.jcp.org/xml/ns/javaee"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/javaee
		http://xmlns.jcp.org/xml/ns/javaee/web-app_4_0.xsd"
	version="4.0">
	<servlet>
		<servlet-name>login</servlet-name>
		<servlet-class>com.page.LoginAction</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>login</servlet-name>
		<url-pattern>/productSelect</url-pattern>
	</servlet-mapping>
	<servlet>
		<servlet-name>memberRegister</servlet-name>
		<servlet-class>com.page.MemberRegisterAction</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>memberRegister</servlet-name>
		<url-pattern>/register</url-pattern>
	</servlet-mapping>
	<servlet>
		<servlet-name>passwordSet</servlet-name>
		<servlet-class>com.page.PasswordSetAction</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>passwordSet</servlet-name>
		<url-pattern>/password</url-pattern>
	</servlet-mapping>
	<servlet>
		<servlet-name>directorStock</servlet-name>
		<servlet-class>com.page.DirectorStockControlAction</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>directorStock</servlet-name>
		<url-pattern>/loginDirectorStockControl</url-pattern>
	</servlet-mapping>
	<servlet>
		<servlet-name>directorStockConfirm</servlet-name>
		<servlet-class>com.page.DirectorStockControlConfirmAction</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>directorStockConfirm</servlet-name>
		<url-pattern>/loginDirectorStockControlConfirm</url-pattern>
	</servlet-mapping>
	<servlet>
		<servlet-name>directorMemberControl</servlet-name>
		<servlet-class>com.page.DirectorMemberControlAction</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>directorMemberControl</servlet-name>
		<url-pattern>/directorMemberControl.jsp</url-pattern>
	</servlet-mapping>
	<servlet>
		<servlet-name>directorMemberDeleteConfirm</servlet-name>
		<servlet-class>com.page.DirectorMemberDeleteConfirmAction</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>directorMemberDeleteConfirm</servlet-name>
		<url-pattern>/directorMemberDeleteConfirm.jsp</url-pattern>
	</servlet-mapping>
		<servlet>
		<servlet-name>productBuy</servlet-name>
		<servlet-class>com.page.ProductBuyAction</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>productBuy</servlet-name>
		<url-pattern>/productBuy.jsp</url-pattern>
	</servlet-mapping>
	<servlet>
		<servlet-name>productComfirm</servlet-name>
		<servlet-class>com.page.ProductComfirmAction</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>productComfirm</servlet-name>
		<url-pattern>/productComfirm</url-pattern>
	</servlet-mapping>
	<servlet>
		<servlet-name>memberEditAction</servlet-name>
		<servlet-class>com.page.MemberEditAction</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>memberEditAction</servlet-name>
		<url-pattern>/MemberEditAction.jsp</url-pattern>
	</servlet-mapping>
		<servlet>
		<servlet-name>memberEditConfirm</servlet-name>
		<servlet-class>com.page.MemberEditConfirmAction</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>memberEditConfirm</servlet-name>
		<url-pattern>/memberEditConfirm.jsp</url-pattern>
	</servlet-mapping>
		<servlet>
		<servlet-name>memberDeleteAction</servlet-name>
		<servlet-class>com.page.MemberDeleteAction</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>memberDeleteAction</servlet-name>
		<url-pattern>/memberDeleteAction.jsp</url-pattern>
	</servlet-mapping>
	<servlet>
		<servlet-name>memberDeleteConfirm</servlet-name>
		<servlet-class>com.page.MemberDeleteConfirmAction</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>memberDeleteConfirm</servlet-name>
		<url-pattern>/memberDeleteConfirm.jsp</url-pattern>
	</servlet-mapping>

</web-app>